[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lixiaoquan
[access "refs/for/refs/*"]
	read = group user/lixiaoquan
	push = group user/lixiaoquan
	label-Code-Review = -2..+2 group user/lixiaoquan
	label-Verified = -1..+1 group user/lixiaoquan
	rebase = group user/lixiaoquan
	removeReviewer = group user/lixiaoquan
	submit = group user/lixiaoquan
[access "refs/heads/*"]
	read = group user/lixiaoquan
	create = group user/lixiaoquan
	push = +force group user/lixiaoquan
	pushMerge = group user/lixiaoquan
[access "refs/tags/*"]
	push = group user/lixiaoquan
	push = +force group user/lixiaoquan
